<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <!-- 此位置是相对于:部署后的项目根路径 -->
                <!-- <value>/WEB-INF/cache.properties</value> -->
                <!-- 此位置是相对于:文件直接在src 目录下 -->
                <!-- <value>classpath*:cache.properties</value> -->
                <!-- 此位置是相对于:文件在目录下面 -->
                <!-- <value>classpath*:cache/cache.properties</value> -->
                <value>classpath:properties/redis.properties</value>
                <value>classpath:properties/database.properties</value>
                <!-- 此位置是从服务器环境变量中查找名为：XXX 的值(例如：file:D:/test/test.properties) -->
                <!-- <value>${XXX}</value> -->
                <!-- 此位置是相对于:文件系统 -->
                <!-- <value>file:D:/test/test.properties</value> -->
            </list>
        </property>
    </bean>


</beans>