<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="quzrtzTask" class="dd.quartz.DemoQuartz"></bean>
    <bean id="quzrtzJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quzrtzTask"/>
        <property name="targetMethod" value="test"/>
    </bean>

    <bean id="quzrtzTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="quzrtzJob"/>
        <property name="cronExpression" value="0 0/1 * * * ?"/>
    </bean>

    <!--触发器-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false"
          destroy-method="destroy">
        <property name="triggers">
            <list>
                <ref bean="quzrtzTrigger"/>
            </list>
        </property>
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
                <prop key="org.quartz.threadPool.threadCount">10</prop>
                <prop key="org.quartz.threadPool.threadPriority">5</prop>
            </props>
        </property>
    </bean>

</beans>
